:root {

    --white: #FFFFFF;
    --black: #000000;
    --gray: #EFF1F4;
    --grayish: #ced0d3;
    --dark-gray: #262D37;
    --light-gray: #4C5766;
    --lightest-gray: #9fa3a8;
    --blue: rgb(43, 107, 226);

    --dark-blue: rgb(32, 75, 183);
    --error-red: #FF5252;
    --error-border: #FF2C2C;

}

* {

    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    height: 80vh;

    .error{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--white);
        filter: drop-shadow(0 0 15px #262d3767);
        border-radius: 10px;
        height: 40vh;
        width: 40vw;
        li{
            list-style-type: none;
        }
    }


}