:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray: #EFF1F4;
  --grayish: #ced0d3;
  --dark-gray: #262D37;
  --light-gray: #4C5766;
  --lightest-gray: #9fa3a8;
  --blue: rgb(43, 107, 226);
  --dark-blue: rgb(32, 75, 183);
  --error-red: #FF5252;
  --error-border: #FF2C2C;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.empty {
  width: 15vw;
  height: 100vh;
  z-index: 1;
  padding: 0 20px;
}

.side-container {
  width: 15vw;
  height: 100vh;
  background-color: var(--light-gray);
  filter: drop-shadow(0 0 15px rgba(38, 45, 55, 0.4039215686));
  position: fixed;
  z-index: 2;
}
.side-container .logo-container {
  width: inherit;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dark-gray);
}
.side-container .logo-container img {
  width: 15%;
  padding: 0 0 0 20px;
}
.side-container .routes-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.side-container .routes-container .routes-list-element {
  height: 5vh;
  width: calc(15vw - 20px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  font-weight: 500;
  font-size: 1.2em;
  transition: 0.3s;
  padding: 0 0 0 20px;
}
.side-container .routes-container .routes-list-element .material-symbols-outlined {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--lightest-gray);
  margin: 0 10px 0 0;
}
.side-container .routes-container .routes-list-element:hover {
  background-color: var(--dark-gray);
}
.side-container .routes-container .routes-list-element:focus {
  background-color: var(--dark-gray);
}
.side-container .routes-container .tba {
  color: var(--lightest-gray);
}
.side-container .routes-container .focus {
  background-color: var(--dark-gray);
}

.main-page-container {
  width: 100%;
  background-color: var(--gray);
}
.main-page-container .nav-bar-container {
  width: inherit;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  z-index: 1;
}
.main-page-container .nav-bar-container h1 {
  font-size: 1.5em;
  padding: 0 0 0 30px;
  color: var(--dark-gray);
}
.main-page-container .main-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  margin: 60px 0 0 0;
}
.main-page-container .main-section .option-card-container {
  width: 20vw;
  height: 10vh;
  background-color: var(--white);
  border-radius: 15px;
  filter: drop-shadow(-5px 5px 3px rgba(38, 45, 55, 0.0823529412));
  padding: 10px 0 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-page-container .main-section .option-card-container h2 {
  font-size: 1.2em;
}
.main-page-container .main-section .option-card-container a {
  width: 13vw;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
}
.main-page-container .main-section .option-card-container a:hover {
  background-color: var(--dark-blue);
}
.main-page-container .create-user-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 60px 30px;
  padding: 30px;
  gap: 50px;
}
.main-page-container .create-user-container .dropdown-button {
  width: 10vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  margin: 30px 0 0 0;
  transition: 0.3s;
}
.main-page-container .create-user-container .dropdown-button .material-symbols-outlined {
  font-size: 1.5em;
  padding: 0 0 0 5px;
  transition: 0.3s;
}
.main-page-container .create-user-container .dropdown-button .hidden {
  display: none;
}
.main-page-container .create-user-container .dropdown-button:hover {
  background-color: var(--dark-blue);
}
.main-page-container .create-user-container .dropdown-button:focus {
  background-color: var(--dark-blue);
}
.main-page-container .create-user-container .unhide-container {
  width: 60vw;
  height: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-color: var(--white);
  border-radius: 15px;
  filter: drop-shadow(-5px 5px 3px rgba(38, 45, 55, 0.0823529412));
}
.main-page-container .create-user-container .unhide-container h2 {
  font-size: 1.8em;
  padding: 0 0 10px 0;
  color: var(--dark-gray);
}
.main-page-container .create-user-container .unhide-container .create-user-form {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container {
  width: 30vw;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container .tag-container {
  width: 25vw;
  height: 20vh;
  padding: 0 30px 0 30px;
  overflow-y: scroll;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container .tag-container label {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container .tag-container label input {
  width: 30px;
  height: 30px;
  padding: 0;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container .tag-container label input input::-moz-placeholder {
  color: var(--dark-gray);
  font-weight: 600;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container .tag-container label input input:-ms-input-placeholder {
  color: var(--dark-gray);
  font-weight: 600;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container .tag-container label input input::placeholder {
  color: var(--dark-gray);
  font-weight: 600;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5%;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label p {
  color: var(--dark-gray);
  font-weight: 600;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label p span {
  color: var(--error-border);
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label input {
  width: 15vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  background-color: var(--gray);
  filter: drop-shadow(0 0 3px rgba(38, 45, 55, 0.1882352941));
  padding: 0px 10px;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label input input::-moz-placeholder {
  color: var(--dark-gray);
  font-weight: 600;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label input input:-ms-input-placeholder {
  color: var(--dark-gray);
  font-weight: 600;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label input input::placeholder {
  color: var(--dark-gray);
  font-weight: 600;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-up-container .form-inner-container label select {
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  background-color: var(--gray);
  padding: 5px;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-down-container {
  width: inherit;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-down-container .create-btn {
  width: 7vw;
  height: 5vh;
  text-align: center;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  margin: 30px 0 0 0;
  transition: 0.3s;
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-down-container .create-btn:hover {
  background-color: var(--dark-blue);
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-down-container .create-btn:focus {
  background-color: var(--dark-blue);
}
.main-page-container .create-user-container .unhide-container .create-user-form .form-down-container .error {
  color: var(--error-border);
  font-size: 0.8em;
  font-weight: 600;
}
.main-page-container .create-user-container .hide {
  display: flex;
}
.main-page-container .user-table-container.enable {
  margin: 0;
}
.main-page-container .user-table-container {
  width: 75vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 0 60px 60px;
}
.main-page-container .user-table-container .user-table {
  width: 75vw;
  border-collapse: collapse;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.main-page-container .user-table-container .user-table thead tr {
  background-color: var(--blue);
  color: var(--white);
  text-align: left;
  font-weight: 600;
}
.main-page-container .user-table-container .user-table th {
  padding: 15px 10px 15px 15px;
}
.main-page-container .user-table-container .user-table td {
  text-align: left;
  padding: 10px 10px 10px 15px;
}
.main-page-container .user-table-container .user-table tbody tr {
  border-bottom: 1px solid var(--lightest-gray);
}
.main-page-container .user-table-container .user-table tbody tr .user-id {
  font-weight: 700;
  margin: 0;
}
.main-page-container .user-table-container .user-table tbody tr .user-name {
  padding: 10px 0 10px 15px;
  margin: 0;
}
.main-page-container .user-table-container .user-table tbody tr .user-name input {
  width: 5vw;
  border: none;
  background-color: var(--grayish);
  font-weight: 500;
  padding: 5px 2.5px 5px 5px;
  border-radius: 5px;
}
.main-page-container .user-table-container .user-table tbody tr .user-email {
  padding: 10px 0 10px 15px;
  margin: 0;
}
.main-page-container .user-table-container .user-table tbody tr .user-email input {
  width: 10vw;
  border: none;
  background-color: var(--grayish);
  font-weight: 500;
  padding: 5px 2.5px 5px 5px;
  border-radius: 5px;
}
.main-page-container .user-table-container .user-table tbody tr .user-image {
  padding: 10px 0 10px 15px;
  margin: 0;
}
.main-page-container .user-table-container .user-table tbody tr .user-image input {
  width: 10vw;
  border: none;
  background-color: var(--grayish);
  font-weight: 500;
  padding: 5px 2.5px 5px 5px;
  border-radius: 5px;
}
.main-page-container .user-table-container .user-table tbody tr .user-type {
  padding: 10px 0 10px 15px;
  margin: 0;
}
.main-page-container .user-table-container .user-table tbody tr .user-type select {
  width: 5vw;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  background-color: var(--grayish);
  padding: 5px;
}
.main-page-container .user-table-container .user-table tbody tr .user-points,
.main-page-container .user-table-container .user-table tbody tr .user-total-points {
  padding: 10px 0 10px 15px;
  margin: 0;
}
.main-page-container .user-table-container .user-table tbody tr .user-points input,
.main-page-container .user-table-container .user-table tbody tr .user-total-points input {
  width: 5vw;
  border: none;
  background-color: var(--grayish);
  font-weight: 500;
  padding: 5px 2.5px 5px 5px;
  border-radius: 5px;
}
.main-page-container .user-table-container .user-table tbody tr .user-card {
  padding: 10px 0 10px 15px;
  margin: 0;
}
.main-page-container .user-table-container .user-table tbody tr .user-card input {
  width: 10vw;
  border: none;
  background-color: var(--grayish);
  font-weight: 500;
  padding: 5px 2.5px 5px 5px;
  border-radius: 5px;
}
.main-page-container .user-table-container .user-table tbody tr .tag-container-show {
  width: 25vw;
  padding: 10px 15px;
}
.main-page-container .user-table-container .user-table tbody tr .tag-container-show .tag-container-table {
  width: inherit;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 10px 0;
}
.main-page-container .user-table-container .user-table tbody tr .tag-container-show .tag-container-table label {
  display: flex;
  width: 120px;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 0.8em;
  font-weight: 600;
}
.main-page-container .user-table-container .user-table tbody tr .tag-container-show .tag-container-table label input {
  width: 15px;
  height: 15px;
  margin: 0 15px;
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons {
  display: flex;
  height: 5vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 10px 0 10px 0;
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons button {
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons button .material-symbols-outlined {
  font-size: 1.5em;
  font-weight: 600;
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons .submit-btn {
  border: 2px solid var(--blue);
  color: var(--blue);
  transition: 0.2s;
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons .submit-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons .submit-btn:focus,
.main-page-container .user-table-container .user-table tbody tr .actions-buttons .delete-btn:focus {
  background-color: var(--light-gray);
  color: var(--white);
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons .delete-btn {
  border: 2px solid var(--error-border);
  color: var(--error-border);
  transition: 0.2s;
}
.main-page-container .user-table-container .user-table tbody tr .actions-buttons .delete-btn:hover {
  background-color: var(--error-border);
  color: var(--white);
}

.modalContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 20;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}
.modalContainer .hidden {
  display: none;
}
.modalContainer #adTeamModal {
  width: 40%;
  height: 20vh;
  padding: 2%;
  background-color: var(--gray);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalContainer #adTeamModal .xContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modalContainer #adTeamModal .xContainer h4 {
  font-size: 1.3em;
}
.modalContainer #adTeamModal .xContainer button {
  border: none;
}
.modalContainer #adTeamModal .xContainer button:hover {
  transition: 0.2s;
  transform: scale(1.2);
}
.modalContainer #adTeamModal input {
  margin-top: 5%;
}
.modalContainer #adTeamModal .submit-btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}
.modalContainer #adTeamModal .submit-btn:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.create-btn {
  width: 4vw;
  height: 3vh;
  text-align: center;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
  font-size: 0.8em;
  border: none;
  transition: 0.3s;
}

.create-btn:hover {
  background-color: var(--dark-blue);
}

#setContainerLocal, #setContainerVisitant {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 20vh;
}/*# sourceMappingURL=index.css.map */